@breakpoints {
  .joy-g {
    /* Keep to maintain selector order */
  }
  .joy-g-0 {
    gap: 0;
  }
  .joy-g-1 {
    gap: var(--space-1);
  }
  .joy-g-2 {
    gap: var(--space-2);
  }
  .joy-g-3 {
    gap: var(--space-3);
  }
  .joy-g-4 {
    gap: var(--space-4);
  }
  .joy-g-5 {
    gap: var(--space-5);
  }
  .joy-g-6 {
    gap: var(--space-6);
  }
  .joy-g-7 {
    gap: var(--space-7);
  }
  .joy-g-8 {
    gap: var(--space-8);
  }
  .joy-g-9 {
    gap: var(--space-9);
  }
  .joy-g-10 {
    gap: var(--space-10);
  }
}

.joy-g {
  gap: var(--g);
}
@media (--xs) {
  .xs\:joy-g {
    gap: var(--g-xs);
  }
}
@media (--sm) {
  .sm\:joy-g {
    gap: var(--g-sm);
  }
}
@media (--md) {
  .md\:joy-g {
    gap: var(--g-md);
  }
}
@media (--lg) {
  .lg\:joy-g {
    gap: var(--g-lg);
  }
}
@media (--xl) {
  .xl\:joy-g {
    gap: var(--g-xl);
  }
}
