@breakpoints {
  .joy-h {
    /* Keep to maintain selector order */
  }
  .joy-h-0 {
    height: 0;
  }
  .joy-h-1 {
    height: var(--space-1);
  }
  .joy-h-2 {
    height: var(--space-2);
  }
  .joy-h-3 {
    height: var(--space-3);
  }
  .joy-h-4 {
    height: var(--space-4);
  }
  .joy-h-5 {
    height: var(--space-5);
  }
  .joy-h-6 {
    height: var(--space-6);
  }
  .joy-h-7 {
    height: var(--space-7);
  }
  .joy-h-8 {
    height: var(--space-8);
  }
  .joy-h-10 {
    height: var(--space-10);
  }
}

.joy-h {
  height: var(--h);
}
@media (--xs) {
  .xs\:joy-h {
    height: var(--h-xs);
  }
}
@media (--sm) {
  .sm\:joy-h {
    height: var(--h-sm);
  }
}
@media (--md) {
  .md\:joy-h {
    height: var(--h-md);
  }
}
@media (--lg) {
  .lg\:joy-h {
    height: var(--h-lg);
  }
}
@media (--xl) {
  .xl\:joy-h {
    height: var(--h-xl);
  }
}
