@layer components {
  .joy-Mark {
    background-color: transparent;
    position: relative;
    isolation: isolate;
  }

  .joy-Mark.variant-filled::before {
    box-sizing: border-box;
    content: '';
    width: calc(100% + 0.2em);
    height: 100%;
    position: absolute;
    top: 0;
    left: -0.1em;
    z-index: -1;
    background-color: var(--primary-4);
  }

  .joy-Mark.variant-text {
    color: var(--primary-11);
  }
}
